/* Component Title */

.component_title {
    margin-bottom: 20px;
    .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: var(--heading-color);
    }
    code {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        background-color: var(--section-bg-1);
        padding: 7px 15px;
        border-radius: 20px;
        display: inline-block;
    }
}